apiVersion: v1
kind: Pod
metadata:
  name: backend
spec:
  containers:
  - name: nginx
    image: nginx
    resources:
    #soft limit
      requests:
        memory: "64Mi"
        cpu: "250m"
      #hard limit
      limits:
        memory: "128Mi"
        cpu: "500m"